
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1 align="center">Customers List</h1>

    <table id="request">
      <thead style="background-color:rgb(127, 193, 255)">
        <td>Customer Id</td>
        <td>Customer Name</td>
        <td>Address</td>
        <td>State</td>
        <td>Country</td>
        <td>EmailId</td>
        <td>DOB</td>
        <td>PAN</td>
        <td>Contact Number</td>
        <td>Contact Preference</td>
        </thead>

        <tr *ngFor ="let customer of customers">

        <td>{{customer.id}}</td>
        <td>{{customer.customername}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.state}}</td>
        <td>{{customer.country}}</td>
        <td>{{customer.emailId}}</td>
        <td>{{customer.dob}}</td>
        <td>{{format(customer.pan)}}</td>        
        <td>{{customer.contactNo}}</td>
        <td>{{customer.contactPreference}}</td>
        </tr>
        <br>
    </table>
</body>
</html>