
<h1>Get Service Request</h1>
<html lang="en">

    <head>
    
      <meta charset="UTF-8">
    
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>
    
    <body>
      Customer Id:<input type="number" name="customerId" [(ngModel)]="customerId"><br><br>
      Req Status:<input type="text" name="status" [(ngModel)]="status"><br><br>

      <button (click)=getrequest() class="btn btn-success">
        Search
      </button><br><br>
      <app-response *ngIf="request" [requests]="request"></app-response>
    
    </body>
    
</html>